<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.principal.ind.advisormobiledropticket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".attach"
            android:label="@string/title_activity_attach"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".finalOcr"
            android:label="@string/title_activity_final_ocr"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activity_tobacco"
            android:label="@string/title_activity_tobacco"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Get_Quote"
            android:label="@string/title_activity_get__quote"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".W2Form"
            android:label="@string/title_activity_w2_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".last_form2"
            android:label="@string/title_activity_last_form2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_selfie"
            android:label="@string/title_activity_selfie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".second_page_instructions"
            android:label="@string/title_activity_second_page_instructions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".First_page"
            android:label="@string/title_activity_first_page"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LastForm"
            android:label="@string/title_activity_last_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ocr">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".SubmittingOfficeDetails" />
        <activity android:name=".ReviewDetails" />
        <activity android:name=".AcceleratedUnderwriting" />
        <activity android:name=".AboutApplicant" />
        <activity android:name=".GettingReady" />
        <activity android:name=".SelectUnderwritingClass" />
        <activity android:name=".SelectRider" />
        <activity android:name=".SelectState" />
        <activity android:name=".SelectPremium" />
        <activity android:name=".SelectCoverage" />
        <activity android:name=".StartNewCase" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>